<section>

    <h4>Shutterstock</h4>
    <a href="http://www.alexa.com/siteinfo/shutterstock.com">
        <img alt="Shutterstock rating" src="http://traffic.alexa.com/graph?o=lt&y=t&b=ffffff&n=666666&f=999999&p=4e8cff&r=1y&t=2&z=30&c=1&h=150&w=340&u=shutterstock.com" />
    </a>



    <h4></h4>
    <a href="">
        <img alt="" src="" />
    </a>


    <h4></h4>
    <a href="">
        <img alt="" src="" />
    </a>

    <h4></h4>
    <a href="">
        <img alt="" src="" />
    </a>

    <h4></h4>
    <a href="">
        <img alt="" src="" />
    </a>

    <h4>123RF</h4>
    <a href="http://www.alexa.com/siteinfo/123rf.com">
        <img alt="123rf rating" src="http://traffic.alexa.com/graph?o=lt&y=t&b=ffffff&n=666666&f=999999&p=4e8cff&r=1y&t=2&z=30&c=1&h=150&w=340&u=123rf.com" />
    </a>



</section>