<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="ru-RU" />

  <meta name="keywords" content="Stephen Jingel, Jingel, advertising photographer, Steven Jingel, S. Jingel, commercial photographer" />

  <title>{{title}}</title>

  {{#canonical}}<link rel="canonical" href="{{canonical}}" />{{/canonical}}

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.png" type="image/png" />

	<script type="text/javascript">
	  WebFontConfig = {
		google: { families: [ 'PT Sans:400,700,400italic', 'PT Sans Caption:400,700:cyrillic,latin' ] }
	  };
	  (function() {
		var wf = document.createElement('script');
		wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
			'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		wf.type = 'text/javascript';
		wf.async = 'true';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(wf, s);
	  })();
	</script>

  <link rel="stylesheet" href="/css/base.css" type="text/css" />
  <!-- link rel="stylesheet" href="/fonts/stylesheet.css" /-->
  <link rel="stylesheet" href="/css/page.css" type="text/css" />

  <!--[if IE]>
  <script type="text/javascript" charset="UTF-8" src="/js/dd-roundies.js"></script>
  <![endif]-->

  <!-- <script type="text/javascript" charset="UTF-8" src="http://yandex.st/jquery/1.6.2/jquery.min.js"></script> -->
  <script type="text/javascript" charset="UTF-8" src="/js/jquery-1.6.2.js"></script>
  {{{head}}}
</head>
<body>
{{{content}}}
</body>
</html>